In [1]:
print('importing mysql.connector')
import mysql.connector as connector
from mysql.connector import errorcode
from decimal import Decimal

importing mysql.connector

In [2]:
print('connecting to database')
try:
    connection=connector.connect(
        user="metaclass",
        password="testing",
        db="littlelemondb")

except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("connection user or password is incorrect")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("database does not exist")
    else:
        print(err)

connecting to database

In [3]:
print('creating cursor')
cursor=connection.cursor()

creating cursor

In [4]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results=cursor.fetchall()

In [5]:
for each in results:
    print(each)

('bookings',)
('customerbigspend',)
('customers',)
('delivery',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('popularmenus',)
('staff',)

In [6]:
customer_promotion_query = "SELECT customers.CustomerFullName AS Customer, customers.Email AS Email, customers.Phone AS Phone, orders.TotalCost AS Cost FROM customers INNER JOIN orders ON customers.CustomerID = orders.CustomerID WHERE orders.TotalCost > 60; "
cursor.execute(customer_promotion_query)
results=cursor.fetchall()

In [7]:
columns = cursor.column_names
print(columns)
output = []
for row in results:
    row_data = []
    for data in row:
        if type(data) is Decimal:
            row_data.append(float(data))
        else:
            row_data.append(str(data))
        output.append(row_data)
    print(row_data)

('Customer', 'Email', 'Phone', 'Cost')
['Giacopo Bramich', 'gbramich@fake.com', '5653530657', 187.5]
['Ashil Brogini', 'abrogini@fake.com', '5720133529', 352.5]
['Angel Veschambre', 'aveschambre@fake.com', '5771112020', 112.5]
['Arthur Mathewson', 'amathewson@fake.com', '5096888521', 330.0]
['Ennis Dungate', 'edungate@fake.com', '5083904691', 315.0]
['Mart Malsher', 'mmalsher@fake.com', '5898964591', 465.0]
['Audie Willcocks', 'awillcocks@fake.com', '5838004789', 337.5]
['Merrill Baudon', 'mbaudon@fake.com', '5738734827', 285.0]
['Laney Fadden', 'lfadden@fake.com', '5720557985', 147.0]
['Mart Malsher', 'mmalsher@fake.com', '5898964591', 252.41]
['Mart Malsher', 'mmalsher@fake.com', '5898964591', 152.4]
['Audie Willcocks', 'awillcocks@fake.com', '5838004789', 139.7]
['Tasia Fautly', 'tfautly@fake.com', '5809275246', 66.86]
['Audie Willcocks', 'awillcocks@fake.com', '5838004789', 137.76]

In [8]:
print('closing connection and cursor')
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

closing connection and cursor
The cursor is closed.
MySQL connection is closed.